<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ddh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_red_check"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_red_check"
        android:supportsRtl="true">
        <activity android:name=".login.find.FindResultIdActivity"></activity>
        <activity
            android:name=".login.find.FindPasswordActivity"
            android:theme="@style/Theme.Ddh" />
        <activity
            android:name=".login.find.FindIdActivity"
            android:theme="@style/Theme.Ddh" />
        <activity
            android:name=".login.SocialLoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


                <data
                    android:host="oauth"
                    android:scheme="kakao4c892dc5bf5397374b0e94258ecb9aa2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.SignUpCompleteActivity"
            android:theme="@style/Theme.Ddh" />
        <activity
            android:name=".signup.SignUpEmailActivity"
            android:theme="@style/Theme.Ddh" />
        <activity
            android:name=".login.LocalLoginActivity"
            android:theme="@style/Theme.Ddh" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.Ddh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>